Package: discord-bot
Version: 1.0.22
Section: base
Priority: optional
Architecture: arm64
Maintainer: Pedro Conde <contact@ppconde.com>
Description: A Discord bot running on Raspberry Pi (Debian Bookworm arm64)
